#Stellar radius
1050.0

#Stellar mass
0.7

#Stellar luminosity 
3e3 

#C/O ratio
1.40

#FastChem parameter file
fastchem_parameters.dat

#Starting model
winters_irc10216.dat

#Opacity path
/media/data/opacity_data/helios-k/

#Min, max wavelength, spectral resolution
0.3  30  100

#Opacity species&folders
CIA-H2-H2   CIA/H2-H2
CIA-H2-He   CIA/H2-He
CIA-H-He    CIA/H-He
H2          none
He          none
H           none
H2O         Molecules/1H2-16O__POKAZATEL_e2b
TiO         Molecules/48Ti-16O__Toto_e2b
VO          Molecules/51V-16O__VOMYT_e2b
K           Alkali_Allard/K
Na          Alkali_Allard/Na
