#Stellar radius
1050.0

#Stellar mass
0.7

#Stellar luminosity 
3e4 

#C/O ratio
1.40

#FastChem parameter file
fastchem_parameters.dat

#Starting model
winters_irc10216.dat

#Min, max wavelength, spectral resolution
0.3  50  500

#Radiative transfer iteration number and convergence criterion
40  1e-4

#Temperature iteration number, convergence criterion, max relative temperature change
1000  1e-3  0.005

#Smooth temperature profile (yes/no)
no

#Refractive indices for dust
../opacity_data/Amorphous_C_Rouleau.dat

#Opacity path
/media/data/opacity_data/helios-k/

#Opacity species&folders
CIA-H2-H2   CIA/H2-H2
CIA-H2-He   CIA/H2-He
CIA-H-He    CIA/H-He
H-          none
H2-         none
H2          none
He          none
H           none
H2O         Molecules/1H2-16O__POKAZATEL_e2b
CO          Molecules/12C-16O__Li2015_e2b_n
CO2         Molecules/12C-16O2__UCL-4000_e2b
C2H2        Molecules/12C2-1H2__aCeTY_e2b
CH4         Molecules/12C-1H4__YT34to10_e2b
NH3         Molecules/14N-1H3__CoYuTe_e2b_n
HCN         Molecules/1H-12C-14N__Harris_e2b
SiO         Molecules/28Si-16O__SiOUVenIR_e2b
TiO         Molecules/48Ti-16O__Toto_e2b
SO2         Molecules/32S-16O2__ExoAmes_e2b
CH          Molecules/12C-1H__MoLLIST_e2b
VO          Molecules/51V-16O__VOMYT_e2b
CN          Molecules/12C-14N__MoLLIST_e2b
