#Stellar radius
1050.0

#Stellar mass
0.7

#Stellar luminosity 
3e4 

#Stellar mass loss rate
8e-5

#C/O ratio
1.40

#FastChem parameter file
fastchem_parameters.dat

#Starting model
winters_irc10216.dat

#Min, max wavelength, spectral resolution
0.3  50  100

#Radiative transfer iteration number and convergence criterion
40  1e-4

#Radiative transfer use spline discretisation
Yes

#Temperature iteration number, convergence criterion, max relative temperature change
1000  6e-3  0.005

#Hydrodynamics iteration number, convergence criterion
200 1e-3

#Smooth temperature profile (yes/no)
no

#Refractive indices for dust
../opacity_data/Amorphous_C_Rouleau.dat

#Opacity path
/media/data/opacity_data/helios-k/

#Opacity species&folders
CIA-H2-H2   CIA/H2-H2
CIA-H2-He   CIA/H2-He
CIA-H-He    CIA/H-He
H-          none
H2          none
He          none
H           none
H2O         Molecules/1H2-16O__POKAZATEL_e2b
CO          Molecules/12C-16O__Li2015_e2b_n
CO2         Molecules/12C-16O2__UCL-4000_e2b
C2H2        Molecules/12C2-1H2__aCeTY_e2b
